

{% extends 'base.html' %}

{% block content %}

  <div class="register-text">Trocar chaves</div>
  <form method="POST" action="/swap">
      <label for="iditem_receive">seu ID:</label>
      <input type="text" id="idperson_this_party" name="idperson_this_party">         
      <label for="iditem_give">ID do item que você dará:</label>
      <input type="text" id="iditem_give" name="iditem_give">
      <label for="iditem_receive">ID de user da outra parte da troca:</label>
      <input type="text" id="idperson_other_party" name="idperson_other_party">  
      <label for="iditem_receive">ID do item desejado:</label>
      <input type="text" id="iditem_receive" name="iditem_receive">   
      <button type="submit">Submit</button>
  </form>

{# !TODO: this is clashing w route logic in swap.py , needs clarity #}
  <script>
    function checkSwapStatus() {
      fetch('/swap_status')
        .then(response => response.json())
        .then(data => {
          if (data.status === 'success') {
            window.location.href = '/swap_success';
          } else if (data.status === 'expired') {
            window.location.href = '/swap_time_expired_try_again';
          } else {
            pass
          }
        });
    }

    setInterval(checkSwapStatus, 1000);
  </script>
{% endblock %}