<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../static/styles/explorar.css" />
  </head>
  <body>
    <div class="home">
      <header>
        <div class="top">
          <div class="top-left">
            <div class="back-button">
              <a href="/home"><img class="back-button-img" alt="" src="../static/img/back-button.svg" /></a>
            </div>
            <p class="page-name">Explorar</p>
          </div>
          <img class="hamburger-icon" alt="" src="../static/img/Hamburger.svg" id="hamburgerIcon"/>
        </div>
        <div class="search-input">
          <input class="search-bar" type="text" id="search-bar" placeholder="Pesquise por livros, violão e muito mais..."/>
        </div>
        <div class="filter-bar">
            <button type="button" class="filter-troca" id="filter-troca">Troca</button>
            <button type="button" id="filter-doacao">Doação</button>
        </div>
      </header>

      <div class="content">
            <!-- Itens do carrossel -->
            {% for item in items %}
            <div class="item" data-id= "{{ item.iditem }}">
              <div class="item-header">
                <img class="owner-pic" alt="" src="../static/img/User pic.svg"/>
                <div class="owner-info">
                  <div class="item-owner">{{ pessoas[item.person_idperson].name }}</div>
                  <div class="instagram">UnB</div>
                </div>
              </div>
              {% if item.image_blob != none or None %}
            <div class="imagem-wrapper ">
              <img src="data:image/jpeg;base64,{{ item.image_blob.decode('utf-8') | safe }}" class="imagem" alt="">
            </div>
            {% else %}
            <div class="imagem-wrapper ">
              <img src="../static/img/sem-foto.jpg" class="imagem" alt="">
            </div>
            {% endif %}
              <div class="item-desc">
                <div class="name-year">
                  <div class="item-name">{{ item.name }}</div>
                  {% if item.category_idcategory == 28 %}
                  <div class="item-year">Raça: {{ item.brand_species }} | Ano: {{ item.year_acquired }}</div>
                  {% else %}
                  <div class="item-year">Fabricante: {{ item.brand_species }} | Ano: {{ item.year_acquired }}</div>
                  {% endif %}
                </div>
                {% if item.item_type == "Troca" %}
                <span class="item-type">Troca</span>
                {% else %}
                <span class="item-type">Doação</span>
                {% endif %}
              </div>
            </div>
            {% endfor %}
          
      </div>
      <div class="last-div"></div>
    </div>
    
    <div class="navigation">
      <nav class="navbar">
        <a href="/home"><img class="vectors" src="../static/img/nav-bar/home.svg" alt=""></a>
        <a href="#"><img class="explorar" src="../static/img/nav-bar/explorar.svg" alt=""></a>
        <div class="meio-nav"><a href="#"><img class="vectors" src="../static/img/nav-bar/inserir.svg" alt=""></a></div>
        <a href="#"><img class="vectors" src="../static/img/nav-bar/curtidos.svg" alt=""></a>
        <a href="#"><img class="vectors" src="../static/img/nav-bar/estudo.svg" alt=""></a>
      </nav>
    </div>

    <script src="../static/js/explorar.js"></script>  
  </body>
</html>
