<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../static/styles/inserir_anuncio.css" />
    <script src="../static/js/inserir.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-5.0.2-dist/css/bootstrap.css">
    <script src="/static/bootstrap-5.0.2-dist/js/bootstrap.js"></script>
  </head>
<body>
  <div class="wrapper">
  <header>
    <div class="back-button">
        <a href="/home"><img class="back-button-img" alt="" src="../static/img/back-button.svg" /></a>
    </div>
    <p class="troca-troca">TrocaTroca</p>
  </header>
  <h1>O que você está anunciando?</h1>
  <form method="POST" action="/inserir" enctype="multipart/form-data">
    
    <label for="title">Título:</label>
    <input type="text" id="title" name="title" required>
    
    <label for="description">Descrição:</label>
    <textarea id="description" name="description" required></textarea>
    
    <label for="category">Categoria:</label>
    <select id="category" name="category" onchange="checkCategory()" required>
      <option value="">Selecione uma categoria</option>
      {% for categoria in categorias %}
      <option value="{{ categoria.idcategory }}">{{ categoria.name }}</option>
      {% endfor %}
      <!-- Adicione mais opções de categorias, se necessário -->
    </select>
    
    <label for="race" id="race-label" style="display: none;">Raça:</label>
    <input type="text" id="race" name="race" style="display: none;">
    
    <label for="brand" id="brand-label">Marca:</label>
    <input type="text" id="brand" name="brand">
    
    <label for="condition">Condição:</label>
    <div class="condition-options">
      <input type="radio" id="new" name="condition" value="new" required>
      <label for="new">Novo</label>
      <input type="radio" id="used" name="condition" value="used" required>
      <label for="used">Usado</label>
    </div>
    
    <label for="year">Ano Adquirido:</label>
    <select id="year" name="year">
      <option value="">Selecione o ano de aquisição</option>
      {% for ano in anos %}
      <option value="{{ ano }}">{{ ano }}</option>
      {% endfor %}
      <!-- Adicione mais opções de anos, se necessário -->
    </select>
    
    <label for="photos">Fotos:</label>
    <input type="file" id="photos" name="photos" accept="image/*" capture="camera" multiple>
    
    <button type="submit">Publicar Anúncio</button>
  </form>
</div>
</body>
</html>