<!DOCTYPE html>
<html>
<head>
    <title>Item Table</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <h1>Item Table</h1>
    <table>
        <thead>
            <tr>
                <th>Item ID</th>
                <th>Name</th>
                <th>Image Path</th>
                <th>Model Color</th>
                <th>Brand Species</th>
                <th>Year Acquired</th>
                <th>Description</th>
                <th>Condition</th>
                <th>Vaccines</th>
                <th>Likes</th>
                <th>Dislikes</th>
                <th>Category ID</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.iditem }}</td>
                <td>{{ item.name or '-' }}</td>
                <td>{{ item.image_path or '-' }}</td>
                <td>{{ item.image_blob or '-' }}</td>
                <!-- {% if item.image_blob %}
                    <img src="{{ url_for('display_image', item_id=item.iditem) }}" alt="Item Image">
                {% else %}
                    sem imagem?:((
                {% endif %} -->
                <td>{{ item.model_color or '-' }}</td>
                <td>{{ item.brand_species or '-' }}</td>
                <td>{{ item.year_acquired or '-' }}</td>
                <td>{{ item.desc or '-' }}</td>
                <td>{{ item.condition or '-' }}</td>
                <td>{{ item.vaccines or '-' }}</td>
                <td>{{ item.likes or '-' }}</td>
                <td>{{ item.dislikes or '-' }}</td>
                <td>{{ item.category_idcategory or '-' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
