<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/swap.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script>
    var expiration_time = 300; // used as seconds
    $(document).ready(function() {
      var interval = setInterval(checkSwapStatus, 1000);
      var startTime = Date.now();
      var timeRemaining = expiration_time; 

      var interval = setInterval(function() {
        var minutes = Math.floor(timeRemaining / 60);
        var seconds = timeRemaining % 60;

        var countdownText = minutes + " minutos " + seconds + " segundos";
        $("#countdown").text(countdownText);

        if (timeRemaining <= 0) {
          clearInterval(interval);
          $("#countdown").text("Tempo expirado! Tente novamente, máximo de 5 min entre as demandas de troca por cada participante :)) ");
          $("#animation").hide();
          $("#message").text("Troca não efetivada, por favor tente novamente <3");
        }

        timeRemaining--;
      }, 1000);

      function checkSwapStatus() {
        var elapsedTime = Math.floor((Date.now() - startTime) / 1000);
        
        if (elapsedTime >= expiration_time) {
          clearInterval(interval);
          window.location.href = '/swap_fail';
          return;
        }

        $.ajax({
          url: '/swap_status/check',
          type: 'GET',
          data: { idswap: '{{ idswap }}' }, 
          success: function(data) {
            if (data.status === 'success') {
              clearInterval(interval);
              window.location.href = '/swap_success';
            }
          },
          error: function() {
            console.log('!!!!!!!!!1 erro no ajax checando o status da troca, estado success definido por uma coluna da p2 estar não null no swap table');
          }
        });
      }
    });
  </script>
</head>
<body>
  <div id="wrapper">
    <header>
      <div class="back-button">
        <img class="back-button-img" alt="" src="../static/img/back-button.svg" />
      </div>
      <div class="troca-troca">TrocaTroca</div>
    </header>
    <div class="status-text">status da troca</div>
    <div class="green-bar">
      <div id="animation" class="green-bar-fill"></div>
    </div>
    <div id="countdown" class="countdown"></div>
  </div>
</body>
</html>
