<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/swap.css">
  <link rel="stylesheet" href="/static/bootstrap-5.0.2-dist/css/bootstrap.css">
  <script src="/static/bootstrap-5.0.2-dist/js/bootstrap.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <div class="wrapper">
    <header>
      <div class="back-button">
        <a href="/home"><img class="back-button-img" alt="" src="../static/img/back-button.svg" /></a>
      </div>
      <p class="troca-troca">TrocaTroca</p>
    </header>
    <div class="swap-container">
      <h3 class="tittle">Registrar transação</h3>
      <form method="POST" action="/swap">
        <div class="input-container">

          <div class="form-floating mb-3">
          <label for="swap_type">Qual o tipo de transação?</label> <br><br>
          <select id="swap_type" name="swap_type" >
          {#  <option selected disabled hidden style='display: none' value=''>selecione</option> #}
            <option value="Troca" >Troca</option>
            <option value="doacao">Doação</option>
          </select>
        </div>

        <div id="doacao-section" style="display: none;">
          <label for="donation_party_type">Você está doando ou recebendo?</label>
          {# !TODO:  #}
          <select id="donation_party_type" name="donation_party_type" >
            {# !TODO: select Doando e update idperson_other_party cm o js de baixo imediatamente no que user clica em Doação.
               Atualmente só é atualizado dps q user clica em Recebendo e Doação novamente  #}
            <option  value="Doando">Doando</option> 
            <option  value="Recebendo">Recebendo</option> 
            <option selected disabled hidden style='display: none' value=''>selecione</option>
          </select>
        </div>
        <br>
    
          <div class="form-floating mb-3">
            <input class="form-control" type="text" id="idperson_this_party" name="idperson_this_party" placeholder="xxxxxxxx">
            <label for="idperson_this_party">Seu Nº de ID:</label>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" type="text" id="iditem_give" name="iditem_give" placeholder="xxxxxxxx">
            <label for="iditem_give">Nº de ID do item que você quer dar:</label>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" type="text" id="idperson_other_party" name="idperson_other_party" placeholder="xxxxxxxx">
            <label for="iditem_receive">Nº de ID da outra pessoa :</label>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" type="text" id="iditem_receive" name="iditem_receive" placeholder="xxxxxxxx">
            <label for="iditem_receive">Nº ID de item que você quer receber:</label>
          </div> 
          <button type="submit" class="button-submit">Enviar</button>
        </div>
      </form>
    </div>
    {# // deactivate input fields based on transaction type select #}
    <script>
    const swapTypeSelect = document.getElementById("swap_type");
    const doacaoSection = document.getElementById("doacao-section");
    const doacaoPartyTypeSelect = document.getElementById("donation_party_type");
    const idItemGiveInput = document.getElementById("iditem_give");
    const idItemReceiveInput = document.getElementById("iditem_receive");
  
    // Handle swap type change
    swapTypeSelect.addEventListener("change", function() {
      const selectedOption = swapTypeSelect.options[swapTypeSelect.selectedIndex].value;
  
      if (selectedOption === "doacao") {
        doacaoSection.style.display = "block";
      } else {
        doacaoSection.style.display = "none";
      }
    });
  
    // Disable input fields for donation based on selected party type
    doacaoPartyTypeSelect.addEventListener("change", function() {
      const selectedOption = doacaoPartyTypeSelect.options[doacaoPartyTypeSelect.selectedIndex].value;
      if (selectedOption === "Doando") {
        idItemGiveInput.disabled = false;
        idItemGiveInput.readOnly = false;
  
        idItemReceiveInput.value = "Não se aplica";
        idItemReceiveInput.readOnly = true;
        // idItemReceiveInput.disabled = true;
      } else if (selectedOption === "Recebendo"){
        idItemReceiveInput.disabled = false;
        idItemReceiveInput.readOnly = false;

        idItemGiveInput.value = "Não se aplica";
        idItemGiveInput.readOnly = true;
        // idItemGiveInput.disabled = true;
      }
    });
  </script>
  
    {#  // redirects 1st party to success when 2nd party registers rtansaction #}
    <script>
      function checkSwapStatus() {
        fetch('/swap_status')
          .then(response => response.json())
          .then(data => {
            if (data.status === 'success') {
              window.location.href = '/swap_success';
            } else if (data.status === 'pending') {
              pass
            } else {
            window.location.href = '/swap_fail';
            }
          });
      }
      setInterval(checkSwapStatus, 5000000);
    </script>

      <div class="waves-container">
        <img src="../static/img/Vector.svg" alt="">
      </div>
    </div>
  </body>
</html>