@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body {
    overflow-y: scroll;
    margin-top: 40px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body::-webkit-scrollbar {
    display: none; /* Oculta a barra de rolagem no Chrome, Safari e Opera */
}
  
.body {
    scrollbar-width: none; /* Oculta a barra de rolagem no Firefox */
}
  
.home {
    display: flex;
    max-width: 800px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header{
    width: 100%;
    padding: 20px;
}
.top {
    font-family: 'Fira Sans', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.message{
    text-align: center;
}
.ola-user{
    font-weight: 800;
    font-size: 32px;
    color: #3C3C3C;
}
.wellcome{
    font-weight: 400;
    font-size: 22px;
    color: #0BAD59;
}
.search-bar{
    margin-top: 30px;
    border: 0;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    width: 100%;
    background-color: #dedede;
    border-radius: 22px;
    padding: 12px;
}
.main-page-content{
    font-family: 'Fira Sans', sans-serif;
    width: 100%;
    height: 100vh;
}
.new-arrivals{
    margin-top: 30px;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.novos-items{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #3C3C3C;
}
.veja-mais{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #898989;
    text-decoration: none;
}
.carousel-container {
    width: 100vw;
    max-width: 800px; /* Defina o tamanho máximo desejado para o carrossel */
    margin: 0 auto; /* Centralizar o carrossel horizontalmente */
    overflow-x: scroll; /* Habilita a rolagem horizontal */
    white-space: nowrap; /* Impede que os itens quebrem linha */
    scrollbar-width: none; /* Remover a barra de rolagem */
    -ms-overflow-style: none; /* Remover a barra de rolagem*/
}  
.carousel {
    width: fit-content;
    display: flex;
    flex-direction: row; /* Define a direção horizontal */
    align-items: center;
    justify-content: flex-start;
    padding: 20px 20px 20px 20px;
    
}
.carousel {
    /* Resto do seu código CSS para o carrossel */
  
    /* Adicione as seguintes propriedades para a transição suave */
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
  
.carousel-container::-webkit-scrollbar {
    display: none; /* Oculta a barra de rolagem no Chrome, Safari e Opera */
}
  
.carousel-container {
    scrollbar-width: none; /* Oculta a barra de rolagem no Firefox */
}
.carousel-container2::-webkit-scrollbar {
    display: none; /* Oculta a barra de rolagem no Chrome, Safari e Opera */
}
  
.carousel-container2{
    scrollbar-width: none; /* Oculta a barra de rolagem no Firefox */
}
  
  
.item {
    width: 268px;
    height: 246px;
    flex: 0 0 auto; /* Define o tamanho automático para os itens */
    margin-right: 30px; /* Espaçamento entre os itens */
    background: #F5F5F5;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}
.imagem-wrapper {
    width: 100%;
    height: 174px;
    overflow: hidden;
    border-radius: 12px 12px 0 0;
    position: relative; /* Para fazer que a imagem com position-absolute respeite a sua posição consoante este selector, ou evitar que saia do mesmo */
}
.imagem {
    width: 110%;
    /* código abaixo centra a imagem ao centro */
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    transform: translateX(-50%) translateY(-50%);
}

.item-desc{
    width: 100%;
    height: 74px;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Fira Sans', sans-serif;
}
.name-year{
  flex-direction: column;
}
.item-name{
  font-size: 18px;
  font-weight: 600;
  color: #3C3C3C;
}
.item-year{
  font-size: 14px;
  font-weight: 400;
  color: #0BAD59;
}
.item-type{
  font-size: 24px;
  font-weight: 800;
  color: #0BAD59;  
}
.carousel-container2{
  width: 100vw;
  max-width: 800px; /* Defina o tamanho máximo desejado para o carrossel */
  margin: 0 auto; /* Centralizar o carrossel horizontalmente */
  overflow-x: scroll; /* Habilita a rolagem horizontal */
  white-space: nowrap; /* Impede que os itens quebrem linha */
  scrollbar-width: none; /* Remover a barra de rolagem */
  -ms-overflow-style: none; /* Remover a barra de rolagem*/
} 
.last-container {
    height: 100px; /* Ajuste a altura conforme necessário */
}  
.navigation {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 20px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    max-width: 900px;
    padding: 10px;
    border-radius: 22px;
    
    background-color: #0BAD59;
}
.meio-nav{
    padding: 0;
    display: flex;
    border-radius: 22px;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 110%;
    background-color: #F5F5F5;
}
.vectors{
    width: 24px;
}
.explorar{
    width: 20px;
}
.sidebar {
  width: 250px;
  background-color: #f5f5f5;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 9999;
  padding-top: 60px;
}

.sidebar.active {
  transform: translateX(0);
}

.sidebar a {
  display: block;
  padding: 16px 20px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.sidebar a:hover {
  background-color: #e1e1e1;
}
