
/* registrar css begins */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
*:focus {
  outline: none;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F5F5F5;
}
.wrapper{
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.register-container {  
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  width: 80vh;
  height: 100vh;
}
header{
  margin-top: 5vw;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
}

.tag-superior {
  width: 60%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  margin: 1em 0em 0em 0em;
}
.image-logo{
  width: 2.5em;
  height: 2.5em;
}
.troca-troca{
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  font-family: 'Dosis';
  font-feature-settings: 'kern' off;
  color: #3C3C3C;
  margin: 0.6em 0.2em 0em 0em;
}

.box-bordy{
  display: flex;
  flex-direction: column;
 
 
}
.register-text{ 
  margin-top: 15.054vw;
  margin-bottom: 1vw;
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  color: #3C3C3C; 
  margin: 1.2em 1em 0.5em 1.4em; 
  justify-content: center;
  align-items: center;
}

.input-container {
  font-size: 20px;
  font-family: 'Dosis';
  font-weight: 600;
  margin: 1em;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;

.input-caracter {
    border-radius: 0.5em;
    margin: 0.1em 0 0.1em 0;
    height: 5%;
    font-size: 20px;
  }
  

.button-submit {
  font-family: 'Dosis';
  font-weight: 600;
  font-size: 24px;
  margin: 2em 3em 0 3em;
  border-radius: 0.5em;
  color: #ffffff;
  background-color: #08b059;
}


}
.login-input {
  flex: 1;
  padding: 10px;
  width: 70vw;
  border: 0;
  background-color: #e9e9e9;
  border-radius: 16px;
  outline: none;
  font-size: 20px;
  font-family: 'Dosis';
  font-weight: lighter;
}
.login-input::placeholder{
  color: #717171;
  font-family: 'Dosis';
  font-weight:400;
  font-size: 18px;
}
.register-btn {
  align-self: center;
  align-items: center;
  justify-content: center;
  font-family: 'Rubik';
  font-weight: bolder;
  border-radius: 22px;
  padding: 10px;
  width: 90.092vw;
  max-width: 505px;
  border: 0;
  background: linear-gradient(97.86deg, #0cce6b, #066031);
  position: absolute;
  font-size: 24px;
  color: #f5f5f5;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
}
.login-text {
  text-align: center;
  margin-top: 22.054vw;
  margin-bottom: 42.054vw;
  font-size: 14px;
  color: #8D8D8D;
}
.login-link {
  color: #0FE677;
  font-weight: bold;
  text-decoration: none;
}
.waves-container {
  padding: 0;
  top: 90%;
  position: fixed;
  align-items: center;
  height: 100px;
  background: url('waves.svg') center bottom no-repeat;
}

/* registrar css ends */

.green-bar {
    width: 80%;
    height: 20px;
    margin: 0 1em 0 1em;
    background-color: green;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
  }

  .green-bar-fill {
    width: 100%;
    margin: 0 1em 0 1em;
    height: 100%;
    background-color: limegreen;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    animation: green-bar-fill-animation 300s linear;
  }

  @keyframes green-bar-fill-animation {
    0% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  }

  /* Pagina swag_fail */

  .texto_centro{
      margin: 5em 1.4em 5em 1.4em;
      font-size: 20px;
      font-weight: 500;
      text-align: justify;
  }

  .texto_status {
    margin: 5em 1em 1em 1em;
    font-size: 20px;
    font-weight: 600;
    text-align: justify;
  }

#countdown{
  margin: 0.2em 1em 0 1em;
}