<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/registrar.css">
</head>
<body>
    <div class="wrapper">
        <div class="register-container">
            <header>
                <div class="back-button">
                    <!-- <div class="back-button-child"></div> -->
                    <img class="back-button-img" alt="" src="../static/img/back-button.svg" />
                    <!-- <a href="/login" class="back-link"></a> -->
                </div>
                <div class="troca-troca">TrocaTroca</div>
            </header>
            <div class="register-text">Registre-se</div>
            <form method="POST" action="/registrar">
                <div>
                    <div class="input-container">
                        <input type="text" placeholder="Nome" class="login-input" id="name" name="name" required>
                    </div>
                    <div class="input-container">
                        <input type="text" placeholder="Matrícula" class="login-input" id="registration" name="registration">
                    </div>
                    <div class="input-container">
                        <input type="email" placeholder="Email" class="login-input" id="hash_email" name="email">
                    </div>
                    <div class="input-container">
                        <input type="tel" placeholder="(00) 00000-0000" class="login-input" id="telefone" name="telefone">
                    </div>
                    <div class="input-container">
                        <input type="password" placeholder="Senha" class="login-input" id="hash_passw" name="passw">
                    </div>
                    <div class="input-container">
                        <input type="file" placeholder="Selecione uma foto" class="login-input" id="profile-photo" name="profile-photo">
                    </div>
                    <button type="submit" class="register-btn" id="register-btn">Cria Conta</button>
                </div>
            </form>
            <p class="login-text">Já possui conta? <a href="/login" class="login-link">Entre</a></p>
        </div>
    </div>
    <div class="waves-container">
        <img src="../static/img/Vector.svg" alt="">
    </div>

</body>
</html>